# Игнорируем все node_modules в проекте
node_modules/
**/node_modules/

# Сборки
dist/
frontend/dist/
backend/dist/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Конфиги окружения
.env
.env.local
backend/.env
frontend/.env
